<a href="https://colab.research.google.com/github/JesseDiGiacomo/WebScraping/blob/main/XCBrasilWebScrap.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# The goal of this job was to collect from the National Database Site (XCBrasil.com.br) all the official flights from the city of Petropolis / RJ and analyze them. 

**The aim was to answer:**


*   *Who is the most frequent pilot of all times*
*   *More frequent take-off of all times*
*   *The longest flight of the city*
*   *The fartest flight of the city*
*   *The longest flight of each take-off*
*   *The fartest flight of each take-off*
*   *More frequent months of each take-off*

To start the web scraping we analyzed the XCBrasil.com.br and discovered we could filter the flights by take-off location.
The city of Petropolis has three (3) take-offs. They are logged into fifteen (15) different take-offs due to misspelling errors. 

We picked one of the registered take-offs to test the best way to proceed.

First, conect to Google Drive so we can store the data acquired.

# Imports and Conections

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Them stablish where we want to store it.

In [2]:
path = "/content/drive/MyDrive/XCBrasil_flights/"

Now we import the libraries to work with

In [3]:
# Imports
import os
import csv
import requests
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
import matplotlib.pyplot as plt
import scipy
import statsmodels
import statsmodels.api as sm
import matplotlib.patches as mpatches
from statsmodels.formula.api import ols
from tabulate import tabulate
from pandas_profiling import ProfileReport

%matplotlib inline

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

Then we create the CSV file with the header and open it.

In [4]:
# Creates the Final Data file
outputfile = open((path + 'FlightsData.csv'), 'a', encoding='utf_8')
writer = csv.writer(outputfile, delimiter=',',quotechar='"', quoting=csv.QUOTE_ALL)

# Adds Header
writer.writerow(['Date', 'Pilot',	'Location', 'Duration', 'Straight Distance', 	'OLC KM', 'OLC Points'])

80

#Testing

Stabilish the URL and start scraping and testing

In [5]:
# XCBrasil homepage
base_url = 'http://xcbrasil.com.br'
xcbrasil_url = 'http://xcbrasil.com.br/tracks/world/alltimes/brand:all,cat:0,class:all,xctype:all,club:all,pilot:all,takeoff:8892'

In [6]:
lst = []

condition = True

while condition: 
  # Use requests to retrieve data from a given URL
  xcbrasil_response = requests.get(xcbrasil_url)

  # Parse the whole HTML page using BeautifulSoup
  xcbrasil_soup = BeautifulSoup(xcbrasil_response.text, 'html.parser')

  # Title of the parsed page
  xcbrasil_soup.title

  # Reading table
  flights = xcbrasil_soup.find('table', {'class':'listTable'})

  for row in flights.find_all('tr')[1:-1]:
      s = pd.Series([data.text for data in row.find_all('td')])
      lst.append(s)
  
  # Next Page
  pg = xcbrasil_soup.find('div', {'class':'pagesDiv'})
  active_pg = pg.find('div', {'class':'activePageNum'})
  
  # Test if is Blank
  if active_pg is None:
    condition = False
  if active_pg.findNextSibling('a') is None:
    condition = False
  else:
    next_url = base_url + active_pg.findNextSibling('a').get("href")
    xcbrasil_url = next_url

In [7]:
# Concatenate the Pandas Series in a DataFrame
data = pd.concat(lst, axis=1).T

In [8]:
data.tail()

,0,1,2,3,4,5,6,7,8,9
3043,3106,17/01/2006,Daniel Wenna\nPetropolis City (Simeria takeof...,0:33,4.7 km,6.7 km,10.08,,,
3044,3107,15/09/2001,Artur Pereira\nPetropolis City (Simeria take...,1:43,5.2 km,18.5 km,27.76,,,
3045,3108,09/06/2001,Artur Pereira\nPetropolis City (Simeria take...,1:47,7.0 km,19.4 km,29.04,,,
3046,3109,06/05/2001,Artur Pereira\nPetropolis City (Simeria take...,1:48,25.3 km,32.3 km,48.39,,,
3047,3110,13/05/2000,Artur Pereira\nPetropolis City (Simeria take...,1:13,13.5 km,18.8 km,28.23,,,

We need to delete some columns we don't need and split the ones with information regarding the pilot and take-off site. Then we create the CSV file with the header and open it.

In [9]:
data = data.drop(columns=[0,7,8,9])
data.head()

,1,2,3,4,5,6
0,07/06/2022,henrique pessoa\nPetropolis City (Simeria tak...,0:39,5.4 km,8.0 km,12.04
1,07/06/2022,Victor Affonso Ferreira Zarlotti\nPetropolis ...,0:30,4.8 km,7.1 km,10.70
2,07/06/2022,Rafael Baroni\nPetropolis City (Simeria takeo...,0:13,4.6 km,5.4 km,8.05
3,05/06/2022,Victor Affonso Ferreira Zarlotti\nPetropolis ...,0:48,6.1 km,9.7 km,14.62
4,22/05/2022,Vagner Garcia\nPetropolis City (Simeria takeo...,0:48,4.7 km,11.6 km,17.34

In [10]:
data.columns = ['Date', 'Pilot and Takeoff', 'Duration', 'Straight Distance', 'OLC KM', 'OLC Points']

In [11]:
data.head()

,Date,Pilot and Takeoff,Duration,Straight Distance,OLC KM,OLC Points
0,07/06/2022,henrique pessoa\nPetropolis City (Simeria tak...,0:39,5.4 km,8.0 km,12.04
1,07/06/2022,Victor Affonso Ferreira Zarlotti\nPetropolis ...,0:30,4.8 km,7.1 km,10.70
2,07/06/2022,Rafael Baroni\nPetropolis City (Simeria takeo...,0:13,4.6 km,5.4 km,8.05
3,05/06/2022,Victor Affonso Ferreira Zarlotti\nPetropolis ...,0:48,6.1 km,9.7 km,14.62
4,22/05/2022,Vagner Garcia\nPetropolis City (Simeria takeo...,0:48,4.7 km,11.6 km,17.34

In [12]:
df2 = data['Pilot and Takeoff'].str.split('\n', expand=True)
df2.drop(columns=[2], inplace=True)
df2.columns = ['Pilot', 'Location']
df2.head()

,Pilot,Location
0,henrique pessoa,Petropolis City (Simeria takeoff) - BR [~0.6]
1,Victor Affonso Ferreira Zarlotti,Petropolis City (Simeria takeoff) - BR
2,Rafael Baroni,Petropolis City (Simeria takeoff) - BR [~0.6]
3,Victor Affonso Ferreira Zarlotti,Petropolis City (Simeria takeoff) - BR
4,Vagner Garcia,Petropolis City (Simeria takeoff) - BR

In [13]:
data = data.join(df2)

In [14]:
data.head()

,Date,Pilot and Takeoff,Duration,Straight Distance,OLC KM,OLC Points,Pilot,Location
0,07/06/2022,henrique pessoa\nPetropolis City (Simeria tak...,0:39,5.4 km,8.0 km,12.04,henrique pessoa,Petropolis City (Simeria takeoff) - BR [~0.6]
1,07/06/2022,Victor Affonso Ferreira Zarlotti\nPetropolis ...,0:30,4.8 km,7.1 km,10.70,Victor Affonso Ferreira Zarlotti,Petropolis City (Simeria takeoff) - BR
2,07/06/2022,Rafael Baroni\nPetropolis City (Simeria takeo...,0:13,4.6 km,5.4 km,8.05,Rafael Baroni,Petropolis City (Simeria takeoff) - BR [~0.6]
3,05/06/2022,Victor Affonso Ferreira Zarlotti\nPetropolis ...,0:48,6.1 km,9.7 km,14.62,Victor Affonso Ferreira Zarlotti,Petropolis City (Simeria takeoff) - BR
4,22/05/2022,Vagner Garcia\nPetropolis City (Simeria takeo...,0:48,4.7 km,11.6 km,17.34,Vagner Garcia,Petropolis City (Simeria takeoff) - BR

In [15]:
data = data.drop(columns=['Pilot and Takeoff'])
data.head()

,Date,Duration,Straight Distance,OLC KM,OLC Points,Pilot,Location
0,07/06/2022,0:39,5.4 km,8.0 km,12.04,henrique pessoa,Petropolis City (Simeria takeoff) - BR [~0.6]
1,07/06/2022,0:30,4.8 km,7.1 km,10.70,Victor Affonso Ferreira Zarlotti,Petropolis City (Simeria takeoff) - BR
2,07/06/2022,0:13,4.6 km,5.4 km,8.05,Rafael Baroni,Petropolis City (Simeria takeoff) - BR [~0.6]
3,05/06/2022,0:48,6.1 km,9.7 km,14.62,Victor Affonso Ferreira Zarlotti,Petropolis City (Simeria takeoff) - BR
4,22/05/2022,0:48,4.7 km,11.6 km,17.34,Vagner Garcia,Petropolis City (Simeria takeoff) - BR

In [16]:
data = data[['Date', 'Pilot',	'Location', 'Duration', 'Straight Distance', 	'OLC KM', 'OLC Points']]
data.head()

,Date,Pilot,Location,Duration,Straight Distance,OLC KM,OLC Points
0,07/06/2022,henrique pessoa,Petropolis City (Simeria takeoff) - BR [~0.6],0:39,5.4 km,8.0 km,12.04
1,07/06/2022,Victor Affonso Ferreira Zarlotti,Petropolis City (Simeria takeoff) - BR,0:30,4.8 km,7.1 km,10.70
2,07/06/2022,Rafael Baroni,Petropolis City (Simeria takeoff) - BR [~0.6],0:13,4.6 km,5.4 km,8.05
3,05/06/2022,Victor Affonso Ferreira Zarlotti,Petropolis City (Simeria takeoff) - BR,0:48,6.1 km,9.7 km,14.62
4,22/05/2022,Vagner Garcia,Petropolis City (Simeria takeoff) - BR,0:48,4.7 km,11.6 km,17.34

Now we build a routine to scrap all the fifteen takeoffs registered for Petropolis/RJ, save them to a CSV file, and close it.

# Web Scraping Data

In [17]:
#Scrapping others take offs
base_url = 'http://xcbrasil.com.br'
takeoff_url_list = [
                    'http://xcbrasil.com.br/tracks/world/alltimes/brand:all,cat:0,class:all,xctype:all,club:all,pilot:all,takeoff:8892',
                    'http://xcbrasil.com.br/tracks/world/alltimes/brand:all,cat:0,class:all,xctype:all,club:all,pilot:all,takeoff:9222',
                    'http://xcbrasil.com.br/tracks/world/alltimes/brand:all,cat:0,class:all,xctype:all,club:all,pilot:all,takeoff:9236',
                    'http://xcbrasil.com.br/tracks/world/alltimes/brand:all,cat:0,class:all,xctype:all,club:all,pilot:all,takeoff:9276',
                    'http://xcbrasil.com.br/tracks/world/alltimes/brand:all,cat:0,class:all,xctype:all,club:all,pilot:all,takeoff:8897',
                    'http://xcbrasil.com.br/tracks/world/alltimes/brand:all,cat:0,class:all,xctype:all,club:all,pilot:all,takeoff:8960',
                    'http://xcbrasil.com.br/tracks/world/alltimes/brand:all,cat:0,class:all,xctype:all,club:all,pilot:all,takeoff:8900',
                    'http://xcbrasil.com.br/tracks/world/alltimes/brand:all,cat:0,class:all,xctype:all,club:all,pilot:all,takeoff:9333',
                    'http://xcbrasil.com.br/tracks/world/alltimes/brand:all,cat:0,class:all,xctype:all,club:all,pilot:all,takeoff:13051',
                    'http://xcbrasil.com.br/tracks/world/alltimes/brand:all,cat:0,class:all,xctype:all,club:all,pilot:all,takeoff:9495',
                    'http://xcbrasil.com.br/tracks/world/alltimes/brand:all,cat:0,class:all,xctype:all,club:all,pilot:all,takeoff:9283',
                    'http://xcbrasil.com.br/tracks/world/alltimes/brand:all,cat:0,class:all,xctype:all,club:all,pilot:all,takeoff:9275',
                    'http://xcbrasil.com.br/tracks/world/alltimes/brand:all,cat:0,class:all,xctype:all,club:all,pilot:all,takeoff:8945',
                    'http://xcbrasil.com.br/tracks/world/alltimes/brand:all,cat:0,class:all,xctype:all,club:all,pilot:all,takeoff:11051',
                    'http://xcbrasil.com.br/tracks/world/alltimes/brand:all,cat:0,class:all,xctype:all,club:all,pilot:all,takeoff:8892'
                    ]
                
for takeoff in takeoff_url_list:
  xcbrasil_url = takeoff

  lst = []

  condition = True

  while condition: 
    # Use requests to retrieve data from a given URL
    xcbrasil_response = requests.get(xcbrasil_url)

    # Parse the whole HTML page using BeautifulSoup
    xcbrasil_soup = BeautifulSoup(xcbrasil_response.text, 'html.parser')

    # Title of the parsed page
    xcbrasil_soup.title

    # Reading table
    flights = xcbrasil_soup.find('table', {'class':'listTable'})

    for row in flights.find_all('tr')[1:-1]:
        s = pd.Series([data.text for data in row.find_all('td')])
        lst.append(s)
    
    # Next Page
    pg = xcbrasil_soup.find('div', {'class':'pagesDiv'})
    active_pg = pg.find('div', {'class':'activePageNum'})
    
    
    # Test if is Blank
    if active_pg is None:
      condition = False
    else:
      if active_pg.findNextSibling('a') is None:
        condition = False
      else:
        next_url = base_url + active_pg.findNextSibling('a').get("href")
        xcbrasil_url = next_url

  # Concatenate the Pandas Series in a DataFrame
  data = pd.concat(lst, axis=1).T

  # Dropping non usable columns
  data = data.drop(columns=[0,7,8,9])

  # Naming Columns
  data.columns = ['Date', 'Pilot and Takeoff', 'Duration', 'Straight Distance', 'OLC KM', 'OLC Points']

  # Spliting Pilot and Takeoff
  df2 = data['Pilot and Takeoff'].str.split('\n', expand=True)
  df2.drop(columns=[2], inplace=True)
  df2.columns = ['Pilot', 'Location']
  df2.head()
  data = data.join(df2)
  data = data.drop(columns=['Pilot and Takeoff'])

  # Reorganizing Columns
  data = data[['Date', 'Pilot',	'Location', 'Duration', 'Straight Distance', 	'OLC KM', 'OLC Points']]
  
  # Cleaning Values
  data['Straight Distance'] = data['Straight Distance'].str.replace('km','')
  data['OLC KM'] = data['OLC KM'].str.replace('km','')
  data = data[data.iloc[:, 0] != data.columns[0]]

  # Writing to CSV
  data.to_csv(outputfile, index=False, header=False)

print('Scraping Done')

Scraping Done

In [18]:
outputfile.close()

# Analysing Data

In [19]:
df = pd.read_csv((path + 'FlightsData.csv'), encoding='utf_8')
df = pd.DataFrame(df)
df.describe()

,Date,Pilot,Location,Duration,Straight Distance,OLC KM,OLC Points
count,10645,10645,10645,10645,10645,10645,10645
unique,2253,525,103,257,610,741,3845
top,21/04/2020,Marcio Montenegro,Petrópolis- Parque São Vicente - BR,0:12,4.5,5.5,8.26
freq,42,670,3953,267,645,157,24

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10645 entries, 0 to 10644
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               10645 non-null  object
 1   Pilot              10645 non-null  object
 2   Location           10645 non-null  object
 3   Duration           10645 non-null  object
 4   Straight Distance  10645 non-null  object
 5   OLC KM             10645 non-null  object
 6   OLC Points         10645 non-null  object
dtypes: object(7)
memory usage: 582.3+ KB

# Most frequent Pilot of all times

In [21]:
# Most frequent Pilot of all times
df['Pilot'].mode()

0     Marcio Montenegro
dtype: object

In [22]:
df['Pilot'].value_counts()

 Marcio Montenegro                     670
 luiz fayao                            435
 ricardo campos arnaud de veiga fl     404
 Luan lima bastos                      335
 Ronaldo Kiyoshi Nakayama              316
                                      ...
 Ivan Marangon Schwanes                  1
 Augusto Glauco de Almeida Quintino      1
 Douglas  Goncalves                      1
 Rui Miguel Mendes e Menezes Santos      1
 marcelo tabajara ferraz d veiga         1
Name: Pilot, Length: 525, dtype: int64

# More frequent Take off of all times

In [23]:
# Unifying take off names

df.loc[df['Location'].str.contains('Simeria'), 'Location'] = 'Simeria'
df.loc[df['Location'].str.contains('Siméria'), 'Location'] = 'Simeria'
df.loc[df['Location'].str.contains('Parque'), 'Location'] = 'PSV'
df.loc[df['Location'].str.contains('Morin'), 'Location'] = 'Morin'
df.loc[df['Location'].str.contains('Petropolis - BR'), 'Location'] = 'Unidentified'
df.loc[df['Location'].str.contains('Petrópolis - BR'), 'Location'] = 'Unidentified'

In [24]:
# More frequent Take off of all times
df['Location'].mode()

0    Simeria
dtype: object

In [25]:
df['Location'].value_counts()

Simeria         6127
PSV             4185
Unidentified     174
Morin            159
Name: Location, dtype: int64

# Longest flight

In [26]:
# Longest flight
df['Duration'].max()

'7:05'

# Fartest flight

In [27]:
# Fartest flight
df['Straight Distance'] = df['Straight Distance'].astype(np.float64)
np.float64(df['Straight Distance']).max()

156.3

# Longest Flight of each take-off

In [28]:
# Longest flight from Simeria
df['Duration'].loc[df['Location'] == 'Simeria'].max()

'7:05'

In [29]:
# Longest flight from Parque Sao Vicente
df['Duration'].loc[df['Location'] == 'PSV'].max()

'4:56'

In [30]:
# Longest flight from Morin
df['Duration'].loc[df['Location'] == 'Morin'].max()

'5:10'

In [31]:
# Longest flight from Unidentified
df['Duration'].loc[df['Location'] == 'Unidentified'].max()

'3:56'

# The fartest flight of each take-off

In [32]:
# Fartest flight from Simeria
df['Straight Distance'] = df['Straight Distance'].astype(np.float64)
df['Straight Distance'].loc[df['Location'] == 'Simeria'].max()

156.3

In [33]:
# Fartest flight from Parque Sao Vicente
df['Straight Distance'] = df['Straight Distance'].astype(np.float64)
df['Straight Distance'].loc[df['Location'] == 'PSV'].max()

147.1

In [34]:
# Fartest flight from Morin
df['Straight Distance'] = df['Straight Distance'].astype(np.float64)
df['Straight Distance'].loc[df['Location'] == 'Morin'].max()

110.1

In [35]:
# Fartest flight from Unidentified
df['Straight Distance'] = df['Straight Distance'].astype(np.float64)
df['Straight Distance'].loc[df['Location'] == 'Unidentified'].max()

113.1

# More frequent months of each take-off

In [36]:
df['Date'].value_counts()

21/04/2020     42
03/04/2021     40
24/04/2021     38
27/03/2021     38
31/07/2021     36
               ..
31/12/2012      1
18/02/2013      1
09/03/2013      1
16/04/2013      1
19/08/2019      1
Name: Date, Length: 2253, dtype: int64

In [37]:
# Converting Dates to only Months

df.loc[df['Date'].str.contains('.01.'), 'Date'] = 'Jan'
df.loc[df['Date'].str.contains('.02.'), 'Date'] = 'Feb'
df.loc[df['Date'].str.contains('.03.'), 'Date'] = 'Mar'
df.loc[df['Date'].str.contains('.04.'), 'Date'] = 'Apr'
df.loc[df['Date'].str.contains('.05.'), 'Date'] = 'May'
df.loc[df['Date'].str.contains('.06.'), 'Date'] = 'Jun'
df.loc[df['Date'].str.contains('.07.'), 'Date'] = 'Jul'
df.loc[df['Date'].str.contains('.08.'), 'Date'] = 'Ago'
df.loc[df['Date'].str.contains('.09.'), 'Date'] = 'Sep'
df.loc[df['Date'].str.contains('.10.'), 'Date'] = 'Oct'
df.loc[df['Date'].str.contains('.11.'), 'Date'] = 'Nov'
df.loc[df['Date'].str.contains('.12.'), 'Date'] = 'Dec'

In [38]:
# More frequent months of Simeria
df['Date'].loc[df['Location'] == 'Simeria'].value_counts()

Jan    3384
Feb    2281
Jul     128
Mar      86
Ago      70
Apr      56
May      52
Sep      48
Jun      22
Name: Date, dtype: int64

In [39]:
# More frequent months of Parque Sao Vicente
df['Date'].loc[df['Location'] == 'PSV'].value_counts()

Jan    2663
Feb     889
Apr     118
Jul     115
Ago     107
Mar     103
Jun      71
Sep      60
May      58
Dec       1
Name: Date, dtype: int64

In [40]:
# More frequent months of Morin
df['Date'].loc[df['Location'] == 'Morin'].value_counts()

Jan    103
Feb     42
Jul      8
Apr      3
May      2
Ago      1
Name: Date, dtype: int64

In [41]:
# More frequent months of Unidentified
df['Date'].loc[df['Location'] == 'Unidentified'].value_counts()

Jan    79
Feb    43
Mar    18
Ago     9
Apr     9
Jul     8
Sep     3
May     3
Jun     2
Name: Date, dtype: int64